<div class="container-xl">
  <h1 style="padding-top: 10px">Ãreas de Conhecimento</h1>
  <hr style="width: 100%; height: 1px; background: #FFF">
  <div class="areas">
    {{#each areas}}
    <strong><i class="fa-solid fa-caret-right"></i>{{area}}</strong>
    <hr>
    {{/each}}
  </div>
</div>