<div class="tab-pane fade active show" id="home">
  <h1 style="background: #3e3e3e;">SkiFree</h1>
  <div class="body">
    <div id="montanha">
      <div id="skier"></div>
    </div>
    <div id="painel">
      <div id="vidas">
        <strong>Vidas:</strong>
        <div>
          <span id="vidaValor"></span>
          <img src="https://img.icons8.com/fluency/48/000000/like.png" />
        </div>
      </div>
      <hr id="painelDivisor">
      <div id="velocidade">
        <strong>Velocidade:</strong>
        <div>
          <span id="velocidadeValor"></span>
          <span>m/s</span>
          <img src="https://img.icons8.com/color/24/000000/speed.png" />
        </div>
      </div>
      <hr id="painelDivisor">
      <div id="distancia">
        <strong>Distância percorrida:</strong>
        <div>
          <span id="distanciaValor" name="score"></span>
          <span>metros</span>
        </div>
      </div>
      <hr id="painelDivisor">
      <div id="distancia" class="scoreRecord">
        <strong>MAIOR PONTUAÇÃO:</strong>
        <div>
          <span id="distanciaValor" name="scoreRecord">{{ scoreRecord }}</span>
          <span>metros</span>
        </div>
      </div>
    </div>
    <div id="scoreContainer" class="scoreContainer" style="display: none;">
      <form action="/game" method="post">
        <div class="modalScore">
          <strong class="titleModal">Game over</strong>
          <div class="line"></div>
          <strong>Distância:
            <input id="distanciaValorFinal" name="score" value="{{ score }}" readonly="readonly">
            metros
          </strong>
          <button class="saveScore" type="submit">SALVAR</button>
        </div>
      </form>
    </div>
  </div>