<div class="tab-pane fade active show" id="home">
  <div class="main_page">
    <img src="/img/skifree.jpg" alt="skifree">
    <h1>SkiFree</h1>
    <strong class="text-success">Um trabalho desenvolvido no curso de Programação Web - UFAM</strong>
    <span>Filipe Dias</span>
    <a class="game_button" href="/game">
      <button type="button" class="btn btn-info">Jogar</button>
    </a>
  </div>
</div>